## Last commit: 2017-10-01 00:40:38 UTC by ntc
version 15.1F4.15;
groups {
    global {
        system {
            login {
                user ntc {
                    uid 2000;
                    class super-user;
                    authentication {
                        encrypted-password "$5$9dE0bRr9$.VvWkJKa3J7HW95.G3KxW9x01nUoVi0PnXuZBlpOUH9"; ## SECRET-DATA
                    }
                }
            }
        }
    }
}
apply-groups global;
system {
    host-name transit;
    domain-name ntc.com;
    root-authentication {
        encrypted-password "$5$1FR588oW$dWnmaj9S4t/GHEYL/gn8tOz3.yXoIMYHrCDyn.4hIo0"; ## SECRET-DATA
    }
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    fpc 0 {
        pic 0 {
            tunnel-services {
                bandwidth 1g;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet;
        }
    }
    ge-0/0/2 {
        vlan-tagging;
        unit 1001 {
            vlan-id 1001;
            family inet {
                address 192.0.2.0/31;
            }
        }
        unit 1002 {
            vlan-id 1002;
            family inet {
                address 192.0.2.2/31;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet;
        }
    }
    lt-0/0/10 {
        unit 1001 {
            encapsulation ethernet;
            peer-unit 1002;
            family inet {
                address 192.0.2.254/31;
            }
        }
        unit 1002 {
            encapsulation ethernet;
            peer-unit 1001;
            family inet {
                address 192.0.2.255/31;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.32/24;
            }
        }
    }
    lo0 {
        unit 1001 {
            family inet {
                address 198.51.100.0/32;
                address 198.51.100.1/32;
                address 198.51.100.2/32;
                address 198.51.100.3/32;
                address 198.51.100.4/32;
                address 198.51.100.5/32;
                address 198.51.100.6/32;
                address 198.51.100.7/32;
                address 198.51.100.8/32;
                address 198.51.100.9/32;
                address 198.51.100.10/32;
                address 198.51.100.11/32;
                address 198.51.100.12/32;
                address 198.51.100.13/32;
                address 198.51.100.14/32;
                address 198.51.100.15/32;
                address 198.51.100.16/32;
                address 198.51.100.17/32;
                address 198.51.100.18/32;
                address 198.51.100.19/32;
                address 198.51.100.20/32;
                address 198.51.100.21/32;
                address 198.51.100.22/32;
                address 198.51.100.23/32;
                address 198.51.100.24/32;
                address 198.51.100.25/32;
                address 198.51.100.26/32;
                address 198.51.100.27/32;
                address 198.51.100.28/32;
                address 198.51.100.29/32;
                address 198.51.100.30/32;
                address 198.51.100.31/32;
                address 198.51.100.32/32;
                address 198.51.100.33/32;
                address 198.51.100.34/32;
                address 198.51.100.35/32;
                address 198.51.100.36/32;
                address 198.51.100.37/32;
                address 198.51.100.38/32;
                address 198.51.100.39/32;
                address 198.51.100.40/32;
                address 198.51.100.41/32;
                address 198.51.100.42/32;
                address 198.51.100.43/32;
                address 198.51.100.44/32;
                address 198.51.100.45/32;
                address 198.51.100.46/32;
                address 198.51.100.47/32;
                address 198.51.100.48/32;
                address 198.51.100.49/32;
                address 198.51.100.50/32;
                address 198.51.100.51/32;
                address 198.51.100.52/32;
                address 198.51.100.53/32;
                address 198.51.100.54/32;
                address 198.51.100.55/32;
                address 198.51.100.56/32;
                address 198.51.100.57/32;
                address 198.51.100.58/32;
                address 198.51.100.59/32;
                address 198.51.100.60/32;
                address 198.51.100.61/32;
                address 198.51.100.62/32;
                address 198.51.100.63/32;
                address 198.51.100.64/32;
                address 198.51.100.65/32;
                address 198.51.100.66/32;
                address 198.51.100.67/32;
                address 198.51.100.68/32;
                address 198.51.100.69/32;
                address 198.51.100.70/32;
                address 198.51.100.71/32;
                address 198.51.100.72/32;
                address 198.51.100.73/32;
                address 198.51.100.74/32;
                address 198.51.100.75/32;
                address 198.51.100.76/32;
                address 198.51.100.77/32;
                address 198.51.100.78/32;
                address 198.51.100.79/32;
                address 198.51.100.80/32;
                address 198.51.100.81/32;
                address 198.51.100.82/32;
                address 198.51.100.83/32;
                address 198.51.100.84/32;
                address 198.51.100.85/32;
                address 198.51.100.86/32;
                address 198.51.100.87/32;
                address 198.51.100.88/32;
                address 198.51.100.89/32;
                address 198.51.100.90/32;
                address 198.51.100.91/32;
                address 198.51.100.92/32;
                address 198.51.100.93/32;
                address 198.51.100.94/32;
                address 198.51.100.134/32;
                address 198.51.100.135/32;
                address 198.51.100.136/32;
                address 198.51.100.137/32;
                address 198.51.100.138/32;
                address 198.51.100.200/32;
                address 198.51.100.201/32;
                address 198.51.100.202/32;
                address 198.51.100.203/32;
                address 198.51.100.204/32;
                address 198.51.100.205/32;
                address 198.51.100.206/32;
                address 198.51.100.207/32;
                address 198.51.100.208/32;
                address 198.51.100.209/32;
                address 198.51.100.210/32;
                address 198.51.100.211/32;
                address 198.51.100.212/32;
                address 198.51.100.213/32;
                address 198.51.100.214/32;
                address 198.51.100.215/32;
                address 198.51.100.216/32;
                address 198.51.100.217/32;
                address 198.51.100.218/32;
                address 198.51.100.219/32;
                address 198.51.100.220/32;
                address 198.51.100.221/32;
                address 198.51.100.222/32;
                address 198.51.100.223/32;
                address 198.51.100.224/32;
                address 198.51.100.225/32;
                address 198.51.100.226/32;
                address 198.51.100.227/32;
                address 198.51.100.228/32;
                address 198.51.100.229/32;
                address 198.51.100.230/32;
                address 198.51.100.231/32;
                address 198.51.100.232/32;
                address 198.51.100.233/32;
                address 198.51.100.234/32;
                address 198.51.100.235/32;
                address 198.51.100.236/32;
                address 198.51.100.237/32;
                address 198.51.100.238/32;
                address 198.51.100.239/32;
                address 198.51.100.240/32;
                address 198.51.100.241/32;
                address 198.51.100.242/32;
                address 198.51.100.243/32;
                address 198.51.100.244/32;
                address 198.51.100.245/32;
                address 198.51.100.246/32;
                address 198.51.100.247/32;
                address 198.51.100.248/32;
                address 198.51.100.249/32;
                address 198.51.100.250/32;
                address 198.51.100.251/32;
                address 198.51.100.252/32;
                address 198.51.100.253/32;
                address 198.51.100.254/32;
                address 198.51.100.255/32;
            }
        }
        unit 1002 {
            family inet {
                address 203.0.113.0/32;
                address 203.0.113.1/32;
                address 203.0.113.2/32;
                address 203.0.113.3/32;
                address 203.0.113.4/32;
                address 203.0.113.5/32;
                address 203.0.113.6/32;
                address 203.0.113.7/32;
                address 203.0.113.8/32;
                address 203.0.113.9/32;
                address 203.0.113.10/32;
                address 203.0.113.11/32;
                address 203.0.113.12/32;
                address 203.0.113.13/32;
                address 203.0.113.14/32;
                address 203.0.113.15/32;
                address 203.0.113.16/32;
                address 203.0.113.17/32;
                address 203.0.113.18/32;
                address 203.0.113.19/32;
                address 203.0.113.20/32;
                address 203.0.113.21/32;
                address 203.0.113.22/32;
                address 203.0.113.23/32;
                address 203.0.113.24/32;
                address 203.0.113.25/32;
                address 203.0.113.26/32;
                address 203.0.113.27/32;
                address 203.0.113.28/32;
                address 203.0.113.29/32;
                address 203.0.113.30/32;
                address 203.0.113.31/32;
                address 203.0.113.32/32;
                address 203.0.113.33/32;
                address 203.0.113.34/32;
                address 203.0.113.35/32;
                address 203.0.113.36/32;
                address 203.0.113.37/32;
                address 203.0.113.38/32;
                address 203.0.113.39/32;
                address 203.0.113.40/32;
                address 203.0.113.41/32;
                address 203.0.113.42/32;
                address 203.0.113.43/32;
                address 203.0.113.44/32;
                address 203.0.113.45/32;
                address 203.0.113.46/32;
                address 203.0.113.47/32;
                address 203.0.113.48/32;
                address 203.0.113.49/32;
                address 203.0.113.50/32;
                address 203.0.113.51/32;
                address 203.0.113.52/32;
                address 203.0.113.53/32;
                address 203.0.113.54/32;
                address 203.0.113.55/32;
                address 203.0.113.56/32;
                address 203.0.113.57/32;
                address 203.0.113.58/32;
                address 203.0.113.59/32;
                address 203.0.113.60/32;
                address 203.0.113.61/32;
                address 203.0.113.62/32;
                address 203.0.113.63/32;
                address 203.0.113.64/32;
                address 203.0.113.65/32;
                address 203.0.113.66/32;
                address 203.0.113.67/32;
                address 203.0.113.68/32;
                address 203.0.113.69/32;
                address 203.0.113.70/32;
                address 203.0.113.71/32;
                address 203.0.113.72/32;
                address 203.0.113.73/32;
                address 203.0.113.74/32;
                address 203.0.113.75/32;
                address 203.0.113.76/32;
                address 203.0.113.77/32;
                address 203.0.113.78/32;
                address 203.0.113.79/32;
                address 203.0.113.80/32;
                address 203.0.113.81/32;
                address 203.0.113.82/32;
                address 203.0.113.83/32;
                address 203.0.113.84/32;
                address 203.0.113.85/32;
                address 203.0.113.86/32;
                address 203.0.113.87/32;
                address 203.0.113.88/32;
                address 203.0.113.89/32;
                address 203.0.113.90/32;
                address 203.0.113.91/32;
                address 203.0.113.92/32;
                address 203.0.113.93/32;
                address 203.0.113.94/32;
                address 203.0.113.134/32;
                address 203.0.113.135/32;
                address 203.0.113.136/32;
                address 203.0.113.137/32;
                address 203.0.113.138/32;
                address 203.0.113.200/32;
                address 203.0.113.201/32;
                address 203.0.113.202/32;
                address 203.0.113.203/32;
                address 203.0.113.204/32;
                address 203.0.113.205/32;
                address 203.0.113.206/32;
                address 203.0.113.207/32;
                address 203.0.113.208/32;
                address 203.0.113.209/32;
                address 203.0.113.210/32;
                address 203.0.113.211/32;
                address 203.0.113.212/32;
                address 203.0.113.213/32;
                address 203.0.113.214/32;
                address 203.0.113.215/32;
                address 203.0.113.216/32;
                address 203.0.113.217/32;
                address 203.0.113.218/32;
                address 203.0.113.219/32;
                address 203.0.113.220/32;
                address 203.0.113.221/32;
                address 203.0.113.222/32;
                address 203.0.113.223/32;
                address 203.0.113.224/32;
                address 203.0.113.225/32;
                address 203.0.113.226/32;
                address 203.0.113.227/32;
                address 203.0.113.228/32;
                address 203.0.113.229/32;
                address 203.0.113.230/32;
                address 203.0.113.231/32;
                address 203.0.113.232/32;
                address 203.0.113.233/32;
                address 203.0.113.234/32;
                address 203.0.113.235/32;
                address 203.0.113.236/32;
                address 203.0.113.237/32;
                address 203.0.113.238/32;
                address 203.0.113.239/32;
                address 203.0.113.240/32;
                address 203.0.113.241/32;
                address 203.0.113.242/32;
                address 203.0.113.243/32;
                address 203.0.113.244/32;
                address 203.0.113.245/32;
                address 203.0.113.246/32;
                address 203.0.113.247/32;
                address 203.0.113.248/32;
                address 203.0.113.249/32;
                address 203.0.113.250/32;
                address 203.0.113.251/32;
                address 203.0.113.252/32;
                address 203.0.113.253/32;
                address 203.0.113.254/32;
                address 203.0.113.255/32;
            }
        }
    }
}
snmp {
    community public {
        authorization read-only;
    }
    community networktocode {
        authorization read-only;
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.0.0.2;
    }
}
protocols {
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
}
policy-options {
    policy-statement EXPORT {
        term AGG {
            from protocol aggregate;
            then accept;
        }
        term DIRECT {
            from {
                protocol direct;
                route-filter 192.0.2.0/24 orlonger;
            }
            then accept;
        }
    }
    policy-statement T1AGG {
        from {
            protocol direct;
            route-filter 198.51.100.0/24 orlonger;
        }
        then accept;
    }
    policy-statement T2AGG {
        from {
            protocol direct;
            route-filter 204.0.113.0/24 orlonger;
        }
        then accept;
    }
}
routing-instances {
    T1 {
        instance-type virtual-router;
        interface ge-0/0/2.1001;
        interface lt-0/0/10.1001;
        interface lo0.1001;
        routing-options {
            aggregate {
                route 198.51.100.0/24 policy T1AGG;
            }
            autonomous-system 65001;
        }
        protocols {
            bgp {
                export EXPORT;
                group CUST {
                    neighbor 192.0.2.1 {
                        peer-as 65000;
                    }
                }
                group PEER {
                    neighbor 192.0.2.255 {
                        peer-as 65002;
                    }
                }
            }
        }
    }
    T2 {
        instance-type virtual-router;
        interface ge-0/0/2.1002;
        interface lt-0/0/10.1002;
        interface lo0.1002;
        routing-options {
            aggregate {
                route 203.0.113.0/24 policy T2AGG;
            }
            autonomous-system 65002;
        }
        protocols {
            bgp {
                export EXPORT;
                group CUST {
                    neighbor 192.0.2.3 {
                        peer-as 65000;
                    }
                }
                group PEER {
                    neighbor 192.0.2.254 {
                        peer-as 65001;
                    }
                }
            }
        }
    }
}
